ISECrawler/backup/*
ISECrawler/cache/*
ISECrawler/conf*
ISECrawler/data/*
ISECrawler/index-rebuild
ISECrawler/logs/*
ISECrawler/isespider/*.class
ISECrawler/scripts/dropbox_uploader.sh
ISECrawler/scripts/var-config.sh
