<?xml version="1.0"?>
<Configuration>
	
	<Appenders>	
		<File name="debug" fileName="logs/debug.log">
			<PatternLayout pattern="[%d{dd-MM-yy HH:mm:ss}] %-22.22F:%-4L&#9;%-5p&#9;%m%n"/>
		</File>

		<File name="info" fileName="logs/info.log">
			<PatternLayout pattern="[%d{dd-MM-yy HH:mm:ss}]&#9;%m%n"/>
		</File>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss}: %m%n"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<!-- will be used by any logger that doesn't match a named logger -->
		<Root level="all">
			<!-- UNCOMMENT BELOW LINE IF YOU WANT TO LOG DEBUG MESSAGES IN DEBUG.LOG -->
			<!-- <AppenderRef ref="debug" level="all"/>  -->

			<AppenderRef ref="info" level="info"/>
			<AppenderRef ref="STDOUT" level="info"/>
		</Root>
	</Loggers>

</Configuration>
